@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1700px];
  }
  .purple-text-gr {
    @apply bg-purpleGr bg-clip-text text-transparent;
  }
  .cta-btn {
    @apply bg-black text-white text-base font-medium rounded-[15px] h-[46px] px-12 hover:bg-transparent hover:text-black border-2 border-solid border-black transition-all duration-300;
  }
  .cta-btn-white {
    @apply bg-gray-400 text-black text-base font-medium rounded-[15px] h-[46px] px-12 hover:bg-transparent  border-2 border-solid border-gray-400 transition-all duration-300;
  }
}
.splide__slide {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
.is-active {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.splide__arrow {
  background-color: #e5e5e5;
  border-radius: 8px;
  width: 52px;
  height: 52px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.46));
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.46));
}
.splide__arrow svg {
  fill: white;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;
}
.splide__arrow--prev {
  left: 0;
  transform: translate(-50%, -50%);
}
.splide__arrow--next {
  right: 0;
  transform: translate(30%, -50%);
}
@media screen and (max-width: 1280px) {
  .splide__arrow--prev {
    transform: translate(-20%, -50%);
  }
  .splide__arrow--next {
    transform: translate(-20%, -50%);
  }
}
